@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}

@media only screen and (min-width: 38rem) {
    .card {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 10px;
    }
  }